<!-- Header -->
<div [ngClass]="show ? 'nk-header' : 'nk-header-scroll'">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="nk-nav-logo">
        <img src="assets/img/logo-light.svg" width="85" alt="" [ngClass]="show? 'no-scroll' : 'nav-scroll'">
        <img src="assets/img/logo.svg" alt="" width="85" [ngClass]="show? 'nav-scroll' : 'no-scroll'">
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="#about">About</a>
          <a class="nav-item nav-link" href="#contact">Contact</a>
          <a class="nav-item nav-link">Portfolio</a>
          <a class="nav-item nav-link" (click)="openSignIn()">Sign In</a>
          <a class="nav-item nav-link" (click)="openSignUp()">Sign Up</a>
        </div>
      </div>
    </nav>
  </div>
</div>

<div class="bg-image">
  <img src="assets/img/home-7.jpg" alt="">
  <div class="bg-cl"></div>
</div>
<div class="pr-header text-center">
  <h2 class="sub-title1">New Branding Agency</h2>
  <h1 class="sub-title2">We are about to change the way
    <br>
    <em class="fw-400">you publish on the web</em>
  </h1>
  <a href="" target="_blank">
    <button class="nk-btn">Free Download</button>
  </a>
</div>
<!-- End header -->
<!-- Start Main -->
<app-main></app-main>
<!-- End Main -->

<!-- footer -->
<footer class="footer">

  <div class="nk-footer-cont">
    <div class="container text-center">
      <div class="nk-footer-social">
        <ul>
          <li>
            <a href="">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fab fa-dribbble"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="nk-footer-text">
        <p>2018-2019 &copy; Design by Tran Hoa Binh</p>
      </div>
    </div>
  </div>
</footer>
