<h2 class="text-center">Wellcome To Sign Up</h2>
<form [formGroup]="singUpForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" formControlName="Email" placeholder="Email">
  </div>
  <div class="col alert alert-danger" role="alert" *ngIf="singUpForm.get('Email').hasError('required') && singUpForm.get('Email').touched">
    Username is required!
  </div>
  <div class="col alert alert-danger" role="alert" *ngIf="singUpForm.get('Email').hasError('email') && singUpForm.get('Email').touched">
    Not Is Email!
  </div>
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" formControlName="Username" placeholder="Enter Username" inputTextTrim>
  </div>
  <div class="col alert alert-danger" role="alert" *ngIf="singUpForm.get('Username').hasError('required') && singUpForm.get('Username').touched">
    Username is required!
  </div>
  <div class="col alert alert-danger" role="alert" *ngIf="singUpForm.get('Username').hasError('invalidSpace') && singUpForm.get('Username').touched">
     Username exists whitespace!
  </div>
  <div class="col alert alert-danger" role="alert" *ngIf="singUpForm.get('Username').hasError('minlength') && singUpForm.get('Username').touched">
    Username Minlength is 5!
  </div>
  <div class="col alert alert-danger" role="alert" *ngIf="singUpForm.hasError('invalidusername', ['Username']) &&
  singUpForm.get('Username').touched">
    Invalid Username!!
  </div>
  <div formGroupName="pw">
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="Password" placeholder="Password" inputTextTrim>
    </div>
    <div class="col alert alert-danger" role="alert" *ngIf="singUpForm.get('pw.Password').hasError('required') &&
  singUpForm.get('pw.Password').touched">
      Password is required!
    </div>
    <div class="col alert alert-danger" role="alert" *ngIf="singUpForm.get('pw.Password').hasError('invalidSpace') &&
  singUpForm.get('pw.Password').touched">
      Password exists whitespace!
    </div>
    <div class="col alert alert-danger" role="alert" *ngIf="singUpForm.get('pw.Password').hasError('minlength') &&
    singUpForm.get('pw.Password').touched">
        Password minlength is 6!
      </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password" inputTextTrim>
    </div>
  </div>
  <div class="col alert alert-danger" role="alert" *ngIf="singUpForm.hasError('passwordnotmatch', ['pw']) &&
  singUpForm.get('pw').touched">
    Password does not match!
  </div>
  <button type="submit" class="btn btn-primary btn-block" [disabled]="singUpForm.invalid">Submit</button>
</form>
