<h2 class="text-center">Wellcome To Log In</h2>
<form [formGroup]="singInForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" formControlName="Username" aria-describedby="emailHelp" placeholder="Enter Username">
  </div>
  <div class="col alert alert-danger" role="alert" *ngIf="singInForm.get('Username').hasError('required') && singInForm.get('Username').touched">
    Username is required!
  </div>
  <div class="col alert alert-danger" role="alert" *ngIf="singInForm.get('Username').hasError('minlength') && singInForm.get('Username').touched">
    Username Minlength is 8!
  </div>

  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" formControlName="Password" placeholder="Password">
  </div>
  <div class="col alert alert-danger" role="alert" *ngIf="singInForm.get('Password').hasError('required') && singInForm.get('Password').touched">
    Password is required!
  </div>
  <div class="col alert alert-danger" role="alert" *ngIf="singInForm.get('Password').hasError('minlength') && singInForm.get('Password').touched">
    Password Minlength is 8!
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Remember</label>
  </div>
  <button type="submit" class="btn btn-primary btn-block" [disabled]="!singInForm.valid">Submit</button>
</form>
